<div class="container flex-col gap-sm item-center">
    <div class="block-input flex-1 overflow">
        <form action="" class="form-search flex-col gap-sm">
            <input type="file" class="input-file" />
            <div class="container flex-row block-input-info">
                <input type="text" class="flex-1 input-info">
                <button class="remove-info">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <button id="button-add-info">
                <i class="fa fa-plus"></i>
            </button>
        </form>
    </div>

    <div class="block-result flex-1">

    </div>
</div>