.result {
    --columns: 3;
    --spacing: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    flex-wrap: wrap;
    gap: calc(var(--spacing) / 2);
    overflow-y: auto;
}

.result-item {
    padding: 10px;
    flex-grow: 0;
    font-size: 20px;
    flex-basis: calc(calc(100% / var(--columns)) - var(--spacing) - 2px);
    background-color: white;
    box-shadow: 2px 2px 10px 2px rgb(109, 109, 109);
    border: gray solid 1px;
}

.result-item__title {
    width: 100%;
    text-align: justify;
    color: #2196f3;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #63abe7;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .result {
        --columns: 2;
    }
}

@media screen and (max-width: 550px) {
    .result {
        --columns: 1;
        --spacing: 15px;
    }
    .result-item__title {
        text-align: center;
    }
}
